.sideBar{
    display:flex;
    flex-direction: row;
    overflow-y: scroll;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    width: 25rem;
    margin-top: 50px;
}

h3 {
    margin-top: 0px;
}